*{
    background-color: #18181b;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.main__form{
  display: flex;
  flex-direction: column;
}