<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>controlador de mi primer api rest </title>
    <link rel="stylesheet" href="index.css" />
    <script defer type="module" src="index.js"></script>
  </head>
  <body>
    <h1>HOME PAGE</h1>
    <main class="main">
      <section class="main__table">
        <products-table></products-table>
      </section>
      <section class="main__new-product">
        <product-creator></product-creator>
      </section>
    </main>
  </body>
</html>
